@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo h2{
  font-size:larger;
  font-family:'Yellowtail', cursive;
}

.showcase{
  height: 100vh;
  background:url('./assets/Grimpsel_re.jpg') no-repeat center/cover;
}

.showcase .overlay {
  padding-top: 2.5rem;
  height:15vh;
  background-color: rgba(0,0,0,0.7);
}

.hamburger{
  display: none;
}

.burger{
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: black;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.App {
  font-family: sans-serif;
  text-align: center;
}


@media only screen and (max-width: 768px) {
  .nav-links:not(.open) {
    display: none;
  }
}

@media (max-width: 767px){

  .hamburger {
    width : 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
  }
}

@media screen and (min-width: 600px) {
  .resize {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .resize {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .resize {
    padding-left: 8rem/* 128px */;
    padding-right: 8rem/* 128px */;
  }
}